* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fecc02;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
}

.index {
  width: 100%;
  height: 100vh;
}
